<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee                http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<servlet>
		<servlet-name>showParameters</servlet-name>
		<servlet-class>com.evalimine.uus.server.ShowParameters</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>showParameters</servlet-name>
		<url-pattern>/submittedData</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>getCandit</servlet-name>
		<servlet-class>com.evalimine.uus.server.CandidatesFinder</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>getCandit</servlet-name>
		<url-pattern>/getCandidates</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>DatabaseTest</servlet-name>
		<servlet-class>com.evalimine.uus.server.DatabaseTest</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DatabaseTest</servlet-name>
		<url-pattern>/dbtest</url-pattern>
	</servlet-mapping>

	<servlet>
	    <servlet-name>jTest</servlet-name>
	    <jsp-file>/db.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>jTest</servlet-name>
	    <url-pattern>/jsptest</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>votePage</servlet-name>
	    <jsp-file>/index.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>votePage</servlet-name>
	    <url-pattern>/vote/*</url-pattern>
	</servlet-mapping>
		
	<servlet>
	    <servlet-name>applyPage</servlet-name>
	    <jsp-file>/applypage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>applyPage</servlet-name>
	    <url-pattern>/apply/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>statPage</servlet-name>
	    <jsp-file>/statpage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>statPage</servlet-name>
	    <url-pattern>/statistics/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>areastat</servlet-name>
	    <jsp-file>/statpage.jsp</jsp-file>
	    <init-param>
        	<param-name>subpage</param-name>
        	<param-value>areastat</param-value>
   		</init-param>
	</servlet>
	<servlet-mapping>
	    <servlet-name>areastat</servlet-name>
	    <url-pattern>/statistics/piirkond/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>canditstat</servlet-name>
	    <jsp-file>/statpage.jsp</jsp-file>
	    <init-param>
        	<param-name>subpage</param-name>
        	<param-value>canditstat</param-value>
   		</init-param>
	</servlet>
	<servlet-mapping>
	    <servlet-name>canditstat</servlet-name>
	    <url-pattern>/statistics/kandidaat/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>parteistat</servlet-name>
	    <jsp-file>/statpage.jsp</jsp-file>
	    <init-param>
        	<param-name>subpage</param-name>
        	<param-value>parteistat</param-value>
   		</init-param>
	</servlet>
	<servlet-mapping>
	    <servlet-name>parteistat</servlet-name>
	    <url-pattern>/statistics/partei/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>riikstat</servlet-name>
	    <jsp-file>/statpage.jsp</jsp-file>
	    <init-param>
        	<param-name>subpage</param-name>
        	<param-value>riikstat</param-value>
   		</init-param>
	</servlet>
	<servlet-mapping>
	    <servlet-name>riikstat</servlet-name>
	    <url-pattern>/statistics/riik/*</url-pattern>
	</servlet-mapping>	
	
	 <servlet>
     	<servlet-name>tablegetter</servlet-name>
  		<servlet-class>com.evalimine.uus.server.GetTable</servlet-class>
 	</servlet>
 	<servlet-mapping>
    	<servlet-name>tablegetter</servlet-name>
     	<url-pattern>/getTable</url-pattern>
 	</servlet-mapping>

	<servlet>
	    <servlet-name>profilePage</servlet-name>
	    <jsp-file>/profilepage.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>profilePage</servlet-name>
	    <url-pattern>/profile/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
	    <servlet-name>loginPage</servlet-name>
	    <jsp-file>/login.jsp</jsp-file>
	</servlet>
	<servlet-mapping>
	    <servlet-name>loginPage</servlet-name>
	    <url-pattern>/login/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>logout</servlet-name>
		<servlet-class>com.evalimine.uus.server.LogoutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>logout</servlet-name>
		<url-pattern>/logout/*</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>voting</servlet-name>
		<servlet-class>com.evalimine.uus.server.Voting</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>voting</servlet-name>
		<url-pattern>/vote/*</url-pattern>
	</servlet-mapping>
	
	<!-- Default page to serve 
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list> -->

	<servlet>
		<servlet-name>SystemServiceServlet</servlet-name>
		<servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
		<init-param>
			<param-name>services</param-name>
			<param-value/>
		</init-param>
	</servlet>

	<servlet-mapping>
		<servlet-name>SystemServiceServlet</servlet-name>
		<url-pattern>/_ah/spi/*</url-pattern>
	</servlet-mapping>
</web-app>