* {
  margin: 0;
  padding: 0;
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;
}

body {
  background-color: #ebebeb;
  font-family: Arial, Verdana, Tahoma, sans-serif;
}

a {
  text-decoration: none;
  color: #000;
  font-size: 12px;
}

a:hover {
  text-decoration: underline;
  color: #008bcf;
}

h2 {
  padding-bottom: 20px;
}

h4 {
  padding-bottom: 10px;
  padding-top: 20px;
  color: #404040;
  font-size: 16px;
}

p {
  font-size: 12px;
  color: #404040;
  padding-bottom: 10px;
}

p.error {
  color: #FF3B3B !important;
}

.content_heading{
  text-align: center;
}


/*wrapper start*/
/*--------------------------------------------------------*/
#wrapper {
  max-width: 960px;
  margin: 10px auto;
}

header #logo {
  position: absolute;
  background-image: url(../img/logo.png);
  width: 400px;
  height: 46px;
  float: left;
  margin-left: 10px;
}

header #username {
  margin-right: 10px;
  padding-top: 10px;
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  color: #404040;
}

header nav {
  margin-right: 10px;
  font-size: 12px;
  color: #404040;
}

header nav ul {
  float: right;
}

header nav ul li {
  display: inline;
  list-style-type: none;
  padding-left: 20px;
  outline: none;
}

nav ul li.ui-tabs-active {
  text-decoration: underline;
}

#highlight {
  width: 100%;
  height: 10px;
  margin-bottom: -10px;
  background-color: #008bcf;
  -moz-border-top-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-top-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  /*  behavior: url(../border-radius.htc);*/  
}

.tab {
  width: 100%;
  margin-bottom: 50px;
  float: left;
  background-color: #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  /*  behavior: url(../border-radius.htc);*/  
  -moz-box-shadow: 0 2px 5px #ccc;
  -webkit-box-shadow: 0 2px 5px #ccc;
  box-shadow: 0 2px 5px #ccc;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#ccc')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#ccc');
}

.tab aside {
  float: left;
  width: 23%;
  padding: 0 20px 10px 20px;
  font-size: 12px;
}

.tab aside p {
  color: #808080;
}
.tab aside p:hover {
  color: #404040;
}

.tab #content {
  float: left;
  width: 77%;
  min-height: 500px;
  padding: 0 20px 15px 20px;
  box-shadow: -7px 4px 10px -6px #ddd; 
}
/*wrapper end*/

/*Custom buttons*/
/*--------------------------------------------------------*/
.statbutton,
.button {
  background-color: #eee;
  border: 1px solid #ccc;
  color: #404040;
  text-align:center;
  font-weight:bold;
  font-size: 13px;
  padding: 12px 20px;
  margin-top: 10px;
  cursor: pointer;
}
.statbutton:hover,
.button:hover {
  background-color: #008bcf;
  color: #fff;
  border: 1px solid #007CCF;
  text-decoration: none;
}
/*Buttons end*/



/*Custom checkboxes*/
/*--------------------------------------------------------*/
.custom-radiobox label,
.custom-checkbox label {
  padding: 4px;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}
.custom-radiobox input[type="radio"]:hover,
.custom-checkbox input[type="checkbox"]:hover {
  cursor: pointer;
}
.custom-radiobox input[type="radio"],
.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  margin-top: 1px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.custom-radiobox input[type="radio"] + span::before,
.custom-checkbox input[type="checkbox"] + span::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 12px;
  height: 12px;
  margin: 0 4px 0 0;
  border: solid 1px #a8a8a8;
  line-height: 14px;
  text-align: center;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #f6f6f6;
  background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
  background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
  background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
  background: -o-radial-gradient(#f6f6f6, #dfdfdf);
  background: radial-gradient(#f6f6f6, #dfdfdf);
}
.custom-checkbox input[type="checkbox"] + span::before{
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.custom-radiobox input[type="radio"]:checked + span::before{
  color: #666;
  content: "\2022";
  font-size: 24px;
}
.custom-checkbox input[type="checkbox"]:checked + span::before {
  color: #666;
  content: "\2714";
  font-size: 12px;
}
.custom-radiobox input[type="radio"]:disabled + span,
.custom-checkbox input[type="checkbox"]:disabled + span {    
  display: inline-block;
  vertical-align: middle;
  cursor: default;
  -moz-opacity: .4;
  -webkit-opacity: .4;
  opacity: .4;
}
/*Custom checkboxes End*/



/*index file*/
/*--------------------------------------------------------*/
#advanced_search>li {
  float: left;
  list-style-type: none;
  margin-right: 1%;
}
#advanced_search>li:nth-child(1){
  width: 19%;
}

#advanced_search>li:nth-child(2){
  width: 44%;
}

#advanced_search>li:nth-child(3) {
  width: 35%;
  margin-right: 0;
  padding-right: 0;
}

#radioboxes,
#checkboxes,
#results_wrapper {
  background: #eee;
  border: 1px solid #ccc;
  font-size: 12px;
  color: #404040;
  height: 320px;
  overflow: auto;
}

#results {
  padding: 5px 10px;
  font-size: 12px;
  color: #000;
  overflow: hidden;
}

#radioboxes li,
#checkboxes li,
#results li {
  clear: left;
  display: block;
  margin-bottom: 5px;
  white-space: nowrap;
}

#profile{
  padding-top: 30px;
}

#avatar {
  float: left;
  padding-right: 10px;
  width: 170px;
  height: 170px;
  background-size: cover;
}

#votebutton {
  float: right;
  font-size: 20px;
  margin: 10px 10px;
}
/*Index file end*/



/*Statistics pages*/
/*--------------------------------------------------------*/

.statbutton {
  min-width: 115px;
  width: 100%;
  float: left;
  font-size: 13px;
  padding: 3px 10px;
  cursor: pointer;
}

#printbutton {
  float: right;
  font-size: 20px;
  margin: 10px 0;
}

#stattable {
	border: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
	color: #333;
	border-collapse: collapse;
}
#stattable td, th  {
	border-top-color: white;
	border-bottom: 1px solid #DFDFDF;
	color: #555;
}
#stattable th {
	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}
#stattable td {
	font-size: 12px;
	padding: 4px 7px 2px;
	vertical-align: top;
}

#statimg {
  display: block;
  margin: 20px auto;
  max-width: 100%;
}

#switcher-panel select{
  min-width: 150px;
  max-width: 100%;
  background-color: #eee;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 10px;
}
/*Statistics pages end*/



/*User page*/
/*------------------------------------------------------------------*/
#my_data{
  display: block;
}
#avatar_block {
  display: inline-block;
}
#avatar_block p {
  clear: left;
  float: left;
  font-size: 10px;
  margin-right: 20px;
}
#avatar_block img { 
  width: 110px; height: 110px; 
  background-size: cover;
}

#my_data_block{
  width: 320px;
  font-size: 12px;
  display: inline-block;
  vertical-align: top;
}

#my_data_block label {
  line-height: 20px;
  display: block;
  vertical-align: middle;
  float: left;
  width: 80px;
}

#profilepage #content input[type="text"],
#profilepage #content select {
  line-height: 20px;
  height: 20px;
  width: 190px;
  max-width: 220px;
  background-color: #eee;
  border: 1px solid #ccc;
  font-size: 12px;
  margin: 2px 10px;
  outline: none;
}

#mystatus,
#votedfor {
  font-size: 12px;
  float: left;
  clear: left;
  display: inline-block;
}

#votedfor a {
  margin-left: 20px;
}
#votedfor a img {
  width: 20px;
  height: 20px;
  margin-left: -10px;
  background-size: cover;
  vertical-align: middle;
}

#savebutton {
  float: right;
  font-size: 20px;
  margin: 10px 10px;
}
/*User page end*/



/*Candidate page*/
/*------------------------------------------------------------------------------*/
#content input[type="file"] {
  max-width: 100%;
  margin: 10px 0;
  border: 1px solid #ccc;
}

#candidatebutton{
  float: right;
  font-size: 20px;
  margin: 10px 10px;
}
/*Candidate page end*/

.switcher-content {
  display: none;
}

@media print
{

  html, body {
    visibility: hidden;
    height:100%; 
    overflow: hidden;
  }
  #content * { 
    visibility: visible; 
  }
  #content { 
    position: absolute; 
    top: 40px; 
    width: auto !important;
  }
  #printbutton { 
    display: none; 
  }

}
@media screen and (max-width: 960px) {
  #wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 820px) {
  aside {
    width: 100% !important;
  }
  aside h4{
    display: none;
  }
  #statpage aside {
    width: 40% !important;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
  }
  #statpage aside h4 {
    display: block;
    text-align: center;
  }
  #statpage aside .statbutton{
    margin-top: 4px;
  }


  aside p {
    margin-top: 20px;
    color: #404040 !important;
    margin-bottom: 0px;
  }
  aside br {
    display: none;
  }
  #content {
    width: 100% !important;
  }
  header #logo {
    background-image: url(../img/logo-medium.png);
    width: 205px;
  }
  .tab #content {
    min-height: 200px;
  }
  .tab #content h4 {
    padding-top: 0;
  }


  #savebutton,
  #printbutton,
  #candidatebutton,
  #votebutton {
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
  }
}

@media screen and (max-width: 630px) {
  header #logo {
    background-image: url(../img/logo-small.png);
    width: 41px;
  }
  #statpage aside {
    width: 60% !important;
    margin-left: 20%;
    margin-right: 20%;
  }

  #radioboxes {
    height: auto;
    width: 100% !important;
  }
  #advanced_search>li:nth-child(1){
    width: 100%;
  }
  #advanced_search>li:nth-child(2){
    padding-top: 10px;
    width: 49%;
  }
  #advanced_search>li:nth-child(3){
    padding-top: 10px;
    width: 50%;
  }
  #advanced_search>li:nth-child(1)>ul li {
    display: inline-block;
    padding: 5px;
  }
  #profile h1{
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  #wrapper {
    margin-right: 0;
    margin-left: 0;
  }
  p#username {
    min-width: 320px;
    width: 100%;
    text-align: center;
  }
  #statpage aside {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
  header {
    width: 100%;
  }
  header #logo {
    position: relative;
    background-image: url(../img/logo-medium.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0 0 10px 0;
  }
  header nav ul {
    min-width: 320px;
    width: 100%;
    text-align: center;
  }
  header nav ul li {
    white-space: nowrap;
    display: inline;
    list-style-type: none;
    padding-left: 10px;
    outline: none;
  }
  header nav ul li:first-child {
    margin-left: 2px;
  }
  header nav ul li:last-child{
    padding-right: 2px;
  }
  #checkboxes{
    height: 100%;
  }
  #advanced_search>li:nth-child(2){
    width: 100%;
  }
  #advanced_search>li:nth-child(3){
    width: 100%;
  }
  #savebutton,
  #printbutton,
  #candidatebutton,
  #votebutton {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
  #printbutton{
    padding: 2px;
  }
}

@media screen and (max-width: 320px) {
  #highlight{
    width: 320px;
  }
  #wrapper{
    width: 320px;
  }
  header #logo {
    width: 320px;
  }
}

.box {
  width: 300px;
  display:none;
  background:#FFF;
  border:solid 1px #BBBBBB;
  border-radius:5px;
  box-shadow:0px 0px 15px #404040;
  position:absolute;
  padding: 20px;
  text-align: center;
  left:0;
  right:0;
  top: 50px;
  margin: 0 auto;
  z-index: 1001;
}
.box select,
.box textarea,
.box input {
  display: block;
  line-height: 20px;
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 12px;
  margin-bottom: 5px;
  padding: 2px 5px;
  outline: none;
}

.box textarea {
  height: 50px;
  resize:vertical;
  font-family: Arial, Verdana, Tahoma, sans-serif;
}
.box h4 {
  padding-top: 0;
  margin-bottom: 10px;
}
.box a.button {
  width: 48%;
  float: left;
  position: relative;
  padding: 10px;
  background-color: #fff;
}
.box a#marginFixer {
  margin-right: 4%;
}

.box a.button:hover {
  text-decoration: none;
  color: #008bcf;
}

#opaque {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    background-color: black;
    filter: alpha(opacity=40);
    opacity: 0.4;
}

#kandideerimisavaldus .box {
  text-align: left;
  width: 500px;
}
#kandideerimisavaldus h4 {
  text-align: center;
}

#kandideerimisavaldus input[name="date"] {
  width: 100px;
  display: inline-block;
}
#kandideerimisavaldus input[name="number"]{
  width: 35px;
  display: inline;
}

#kandideerimisavaldus input[name="partyName"] {
  width: 59%;
  display: inline-block;
}

#kandideerimisavaldus .box select {
  width: 40%;
  display: inline-block;
}

#kandideerimisavaldus ul li {
  margin-left: 20px;
  font-size: 12px;
  color: #404040;
}

.errorField{
  background-color: #ff9999;
  border: 1px solid #ff1a1a;
}

.errorField::-webkit-input-placeholder{ /* WebKit browsers */
    color:    #404040;
}
.errorField:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:    #404040;
}
.errorField::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:    #404040;
}
.errorField:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:    #404040;
}