* { margin: 0; padding: 0; -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;}
html { overflow: -moz-scrollbars-vertical; overflow-y: scroll;}
body { background-color: #ebebeb; font-family: Arial, Verdana, Tahoma, sans-serif;}
a {text-decoration: none; color: #000; font-size: 12px;}
a:hover {text-decoration: underline; color: #008bcf;}
h2 {padding-bottom: 20px;}
h4 {padding-bottom: 10px; color: #404040; font-size: 16px;}
p {font-size: 12px; color: #404040; margin-bottom: 10px;}
p.error {  color: #FF3B3B !important; }
.content_heading{ text-align: center; margin-bottom: 20px;}


/*wrapper start*/
/*--------------------------------------------------------*/
#wrapper {
  max-width: 960px;
  margin: 10px auto;
}

header {
  padding-right: 10px;
  font-size: 12px;
  color: #404040;
}
header #logo {
  position: absolute;
  background-image: url(../img/logo.png);
  width: 400px;
  height: 46px;
  float: left;
  margin-left: 10px;
  margin-top: -5px;
}
header #username {
  margin-top: 10px;
  text-align: right;
  font-weight: bold;
  color: #404040;
}
header nav ul {
  float: right;
}
header nav ul li {
  display: inline;
  list-style-type: none;
  margin-left: 20px;
}

body#votepage a#votenav,
body#applypage a#applynav,
body#statpage a#statnav,
body#loginpage a#loginnav,
body#profilepage a#profilenav,
body#adminpage a#adminnav {
  text-decoration: underline;
}

#highlight {
  width: 100%;
  height: 10px;
  margin-bottom: -4px;
  background-color: #008bcf;
  -moz-border-top-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-top-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  z-index: 1001 !important;
}

.tab {
  width: 100%;
  min-height:360px;
  float: left;
  background-color: #fff;
  -moz-border-bottom-left-radius: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -khtml-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -khtml-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
  -moz-box-shadow: 0 2px 5px #ccc;
  -webkit-box-shadow: 0 2px 5px #ccc;
  box-shadow: 0 2px 5px #ccc;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#ccc')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#ccc');
}

.tab aside {
  float: left;
  width: 23%;
  padding: 15px 20px;
  font-size: 12px;
}
.tab aside p {
  color: #808080;
}
.tab aside p:hover {
  color: #404040;
}

.tab #content {
  float: left;
  width: 77%;
  min-height: 500px;
  padding: 15px 20px;
  box-shadow: -7px 4px 10px -6px #ddd; 
}
/*wrapper end*/



/*Custom buttons*/
/*--------------------------------------------------------*/
.statbutton,
.button {
  float: left;
  background-color: #eee;
  border: 1px solid #ccc;
  color: #404040;
  text-align:center;
  font-weight:bold;
  font-size: 18px;
  cursor: pointer;
  line-height: 50px;
  text-decoration: none !important;
  padding: 0 20px;
}

.statbutton:hover,
.button:hover {
  background-color: #008bcf;
  color: #fff;
  border: 1px solid #007CCF;
}

#savebutton,
#candidatebutton,
#votebutton {
  width: 30%;
  margin: 15px 35%;
}

.statbutton {
  line-height: 25px;
  min-width: 115px;
  width: 100%;
  font-size: 13px;
  margin-bottom: 10px;
}

#votebutton {
  display:none;
}

#printbutton {
  float: right;
  margin-top: 20px;
  margin-right: 10px;
}
/*Buttons end*/



/*Custom checkboxes*/
/*--------------------------------------------------------*/
.custom-radiobox label,
.custom-checkbox label {
  padding: 4px;
  cursor: pointer;
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}
.custom-radiobox input[type="radio"]:hover,
.custom-checkbox input[type="checkbox"]:hover {
  cursor: pointer;
}
.custom-radiobox input[type="radio"],
.custom-checkbox input[type="checkbox"] {
  opacity: 0;
  margin-top: 1px;
  width: 14px;
  height: 14px;
  position: absolute;
}
.custom-radiobox input[type="radio"] + span::before,
.custom-checkbox input[type="checkbox"] + span::before {
  display: inline-block;
  vertical-align: middle;
  content: "";
  width: 12px;
  height: 12px;
  margin: 0 4px 0 0;
  border: solid 1px #a8a8a8;
  line-height: 14px;
  text-align: center;
  -moz-border-radius: 100%;
  -webkit-border-radius: 100%;
  border-radius: 100%;
  background: #f6f6f6;
  background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
  background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
  background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
  background: -o-radial-gradient(#f6f6f6, #dfdfdf);
  background: radial-gradient(#f6f6f6, #dfdfdf);
}
.custom-checkbox input[type="checkbox"] + span::before{
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.custom-radiobox input[type="radio"]:checked + span::before{
  color: #666;
  content: "\2022";
  font-size: 24px;
}
.custom-checkbox input[type="checkbox"]:checked + span::before {
  color: #666;
  content: "\2714";
  font-size: 12px;
}
.custom-radiobox input[type="radio"]:disabled + span,
.custom-checkbox input[type="checkbox"]:disabled + span {    
  display: inline-block;
  vertical-align: middle;
  cursor: default;
  -moz-opacity: .4;
  -webkit-opacity: .4;
  opacity: .4;
}
/*Custom checkboxes End*/



/*index file*/
/*--------------------------------------------------------*/
#advanced_search>li {
  float: left;
  list-style-type: none;
  margin-right: 1%;
}
#advanced_search>li:nth-child(1){ width: 30%; }
#advanced_search>li:nth-child(2){ width: 38%; }
#advanced_search>li:nth-child(3) { width: 30%; margin-right: 0;}
#radioboxes, #checkboxes, #results_wrapper {
  background: #eee;
  border: 1px solid #ccc;
  font-size: 12px;
  color: #404040;
  height: 320px;
  overflow: auto;
}
#radioboxes, #checkboxes{
    padding-top: 5px;
}
#results {
  padding: 5px 10px;
  color: #000;
  overflow: hidden;
}
#radioboxes li, #checkboxes li, #results li {
  clear: left;
  display: block;
  margin-bottom: 5px;
  white-space: nowrap;
}
#resultSearch{
	float: left;
	width: 98%;
	margin: 1%;
	padding-left: 5px;
	line-height: 18px;
	height: 25px;
	background-color: #f4f4f4;
 	border: 1px solid #ccc;
	outline: none;
	background-image:url('/img/icon-small-search.png');
	-webkit-background-size: 20px auto;
  -moz-background-size: 20px auto;
 	-o-background-size: 20px auto;
 	background-size: 20px auto;
	background-position: right;
  background-repeat: no-repeat;
}
#profile{
  padding-top: 30px;
  display: none;
}
#avatar {
  float: left;
  padding-right: 10px;
  width: 170px;
  height: 170px;
  background-size: cover;
}
#noResultsFound {
  display:none;
  text-align: center;
  margin-top: 40%;
}
#buttonLoader{
  width:100%;
  height: 82px;
}
/*Index file end*/



/*Statistics pages*/
/*--------------------------------------------------------*/
.stattable {
	border: 1px solid #DFDFDF;
	background-color: #F9F9F9;
	width: 100%;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-family: Arial,"Bitstream Vera Sans",Helvetica,Verdana,sans-serif;
	color: #333;
	border-collapse: collapse;
}
.stattable td, th  {
	border-top-color: white;
	border-bottom: 1px solid #DFDFDF;
	color: #555;
}
.stattable th {
	text-shadow: rgba(255, 255, 255, 0.796875) 0px 1px 0px;
	font-family: Georgia,"Times New Roman","Bitstream Charter",Times,serif;
	font-weight: normal;
	padding: 7px 7px 8px;
	text-align: left;
	line-height: 1.3em;
	font-size: 14px;
}
.stattable td {
	font-size: 12px;
	padding: 4px 7px 2px;
	vertical-align: top;
}
.stat-content select{
  min-width: 150px;
  max-width: 100%;
  background-color: #eee;
  border: 1px solid #ccc;
  outline: none;
  margin-bottom: 10px;
}
.hover{ text-decoration:underline; }
.alphabetic{ cursor:pointer; }
.sorttable_numeric:hover{
  cursor:pointer;
  text-decoration: underline;
}
#tableLoadMore:hover{
  background: #f7f7f7;
}

#noMoreResults,#tableLoadMore{
  font-size: 12px ;
  color: #404040;
  width: 100%;
  margin: 2px 0;
  padding: 2px 0;
  text-align: center;
  text-decoration:none; 
  border: 1px #e0e0e0 solid;
}

#noMoreResults{
  display:none;
  background: #F9F9F9;
}
#tableLoadMore{
  background: #eee;
  cursor:pointer;
}

#googleMap{
  width: 100%;
  height: 380px;
}

#legendMap{
  background: white;
  padding: 2px;
  font-family: Arial, Verdana, Tahoma, sans-serif;
}

.legend { list-style: none; }
.legend li { float: bottom; margin-right: 10px; }
.legend span { border: 1px solid #ccc; float: left; width: 12px; height: 12px; margin: 2px; }

.legend .üksikkandidaat { background-color: #297ACC; opacity: 0.3;}
.legend .iseseis { background-color: #000072; opacity: 0.3;}
.legend .kesk { background-color: #1F7A1F; opacity: 0.3;}
.legend .konserv { background-color: #FF8DC6; opacity: 0.3;}
.legend .reform { background-color: #FFFF00; opacity: 0.3;}
.legend .vabapõll { background-color: #663300; opacity: 0.3;}
.legend .ühvasak { background-color: #800000; opacity: 0.3;}
.legend .krisdem { background-color: #BA5919; opacity: 0.3;}
.legend .rohe { background-color: #2E8B2E; opacity: 0.3;}
.legend .irl { background-color: #5CD6FF; opacity: 0.3;}
.legend .sots { background-color: #CC0000; opacity: 0.3;}
.legend .puudub { background-color: #FFFFFF; opacity: 0.3;}

/*Statistics pages end*/



/*User page*/
/*------------------------------------------------------------------*/
#avatar_block {
  float: right;
  margin-right: 10px;
}
#avatar_block ul{
  list-style-type: none;
}
#avatar_block ul li{
  clear: left;
  float: left;
}
#avatar_block img { 
  width: 180px; height: 180px; 
  background-size: cover;
  margin-bottom: 10px;
}

#my_data_block{
  width: 300px;
  font-size: 12px;
}

#my_data_block label {
  line-height: 25px;
  float: left;
  width: 70px;
}

#profilepage #content input[type="text"],
#profilepage #content select {
  line-height: 20px;
  height: 25px;
  width: 230px;
  max-width: 220px;
  background-color: #eee;
  border: 1px solid #ccc;
  outline: none;
  margin: 0 0 10px 0;
  padding: 0 2px;
}

#mystatus,
#votedfor {
  line-height:20px;
  margin: 20px 0;
}

#votedfor a {
  margin-left: 20px;
}
#votedfor a img {
  width: 20px;
  height: 20px;
  margin-left: -15px;
  background-size: cover;
  vertical-align: middle;
}
/*User page end*/



/*Candidate page*/
/*------------------------------------------------------------------------------*/
.popbox{
  margin-top: 0px;
}

.box {
  width: 300px;
  display:none;
  background:#FFF;
  border:solid 1px #BBBBBB;
  border-radius:5px;
  box-shadow:0px 0px 15px #404040;
  position:absolute;
  padding: 20px;
  text-align: center;
  left:0;
  right:0;
  top: 50px;
  margin: 0 auto;
  z-index: 1001;
}
.box select,
.box textarea,
.box input,
#kandideerimisavaldus select,
#kandideerimisavaldus textarea,
#kandideerimisavaldus input {
  display: block;
  line-height: 20px;
  width: 100%;
  height: 30px;
  border: 1px solid #ccc;
  font-size: 12px;
  margin-top: 5px;
  padding: 2px 5px;
  outline: none;
}

#kandideerimisavaldus select {
  width: 320px;
}

.box textarea {
  height: 50px;
  resize:vertical;
  font-family: Arial, Verdana, Tahoma, sans-serif;
}

.box .button {
  margin-top: 10px;
  line-height: 40px;
  padding: 4px 5px;
  font-size: 13px;
  width: 48%;
  background-color: #fff;
  vertical-align: middle;
}
.box a#marginFixer {
  margin-right: 4%;
}

.box .button:hover {
  text-decoration: none;
  color: #008bcf;
}

#opaque {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    z-index: 1000;
    display: none;
    background-color: black;
    filter: alpha(opacity=40);
    opacity: 0.4;
}

#kandideerimisavaldus input[name="date"] {
  width: 100px;
  display: inline-block;
}
#kandideerimisavaldus input[name="number"]{
  width: 35px;
  display: inline;
}

#candidateForm select[disabled] {
  color: #000;
}

#candidateForm ul {
  list-style: none;
}

a#candidateFormLink {
  width: 100%;
  margin-bottom: 20px;
  float:left;
}

.ketchup-custom {
  line-height: 1em;
  display: none;
}
.ketchup-custom li {
  font-size: 10px;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #9F4631;
  border: 0;
  color: white;
  background: #F46644;
  padding: 1px 10px;
  margin: 1px 0;
}

#applypage #content h4 {ntext-align: center;}
#termsAndConditions {padding: 10px;background: #eee;border: 1px solid #ccc;color: #404040;height: 320px;overflow: auto;}
#termsAndConditions ul li {margin-left: 20px;font-size: 12px;color: #404040;}
#termsAndConditions H1,#termsAndConditions H2,#termsAndConditions H3 {text-align: center;font-weight: bold;font-family: Arial, Tahoma, Helvetica, sans-serif;}
#termsAndConditions H1 {font-size: 20px;text-align: center;margin-bottom: 1em;text-transform: none;}
#termsAndConditions H1 SUP {font-size: 12px;}
#termsAndConditions H1 SPAN {font-size: 14px;font-weight: normal;}
#termsAndConditions H2 {font-size: 18px;text-align: center;}
#termsAndConditions H2.level2 {font-size: 18px;}
#termsAndConditions H2.level3 {font-size: 16px;}
#termsAndConditions H2.level4 {font-size: 16px;font-weight: bold;}
#termsAndConditions H2.level5 {font-size: 16px;font-weight: bold;}
#termsAndConditions H3 {font-size: 14px;text-transform: none;font-weight: bold;}
#termsAndConditions H2 SPAN,#termsAndConditions H2.level2 SPAN,#termsAndConditions H2.level3 SPAN,#termsAndConditions H2.level4 SPAN,#termsAndConditions H2.level5 SPAN {display: block;margin: 1em 0 0 0;font-weight: bold;}
#termsAndConditions H2 SPAN.mm,#termsAndConditions H2.level2 SPAN.mm,#termsAndConditions H2.level3 SPAN.mm,#termsAndConditions H2.level4 SPAN.mm,#termsAndConditions H2.level5 SPAN.mm {display: block;margin: 0 0 0 0;font-weight: normal;font-size: 14px;}
#termsAndConditions P.title {margin: 1em 0 -1em;color: #606060;text-align: center;font-weight: bold;}
#termsAndConditions P.paragraph {margin-top: 1.25em;}
#termsAndConditions H3 SPAN {font-weight: normal;}
#termsAndConditions P {margin: 0.5em 0 0 0;}

p#agreeNotice {
  text-align: center;
  margin-top: 20px; 
}
/*Candidate page end*/




@media print
{
  html, body {
    visibility: hidden;
    height:100%; 
    overflow: hidden;
  }
  #content * { 
    visibility: visible; 
  }
  #content { 
    position: absolute; 
    top: 40px; 
    width: auto !important;
  }
  #printbutton { 
    display: none; 
  }
}
@media screen and (max-width: 960px) {
  #wrapper {
    margin-right: 10px;
    margin-left: 10px;
  }
}
@media screen and (max-width: 820px) {
  aside {
    width: 100% !important;
  }
  aside h4{
    display: none;
  }
  #statpage aside {
    width: 40% !important;
    display: block;
    margin-left: 30%;
    margin-right: 30%;
  }
  #statpage aside h4 {
    display: block;
    text-align: center;
  }
  #statpage aside .statbutton{
    margin-top: 4px;
  }

  aside p {
    margin-top: 20px;
    color: #404040 !important;
    margin-bottom: 0px;
  }
  aside br {
    display: none;
  }
  #content {
    width: 100% !important;
  }
  header #logo {
    background-image: url(../img/logo-medium.png);
    width: 205px;
  }
  .tab #content {
    min-height: 200px;
  }
  .tab #content h4 {
    padding-top: 0;
  }
}

@media screen and (max-width: 630px) {
  header #logo {
    background-image: url(../img/logo-small.png);
    width: 41px;
  }
  #statpage aside {
    width: 60% !important;
    margin-left: 20%;
    margin-right: 20%;
  }
  #profilepage #avatar_block{
    width: 100%;
    float: left;
  }
  #radioboxes {
    height: auto;
    width: 100% !important;
  }
  #advanced_search>li:nth-child(1){ width: 100%; }
  #advanced_search>li:nth-child(2){
    padding-top: 10px;
    width: 49%;
  }
  #advanced_search>li:nth-child(3){
    padding-top: 10px;
    width: 50%;
  }
  #advanced_search>li:nth-child(1)>ul li {
    display: inline-block;
    padding: 5px;
  }
  #profile h1{
    font-size: 20px;
  }
}

@media screen and (max-width: 450px) {
  #wrapper {
    margin-right: 0;
    margin-left: 0;
  }
  p#username {
    min-width: 320px;
    width: 100%;
    text-align: center;
  }
  #statpage aside {
    width: 100% !important;
    margin-left: 0;
    margin-right: 0;
  }
  header {
    width: 100%;
  }
  header #logo {
    position: relative;
    background-image: url(../img/logo-medium.png);
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    margin: 0 0 10px 0;
  }
  header nav ul {
    min-width: 320px;
    width: 100%;
    text-align: center;
  }
  header nav ul li {
    white-space: nowrap;
    list-style-type: none;
    outline: none;
  }
  header nav ul li:first-child {
    margin-left: 2px;
  }
  header nav ul li:last-child{
    padding-right: 2px;
  }
  #advanced_search>li:nth-child(2){ width: 100%; }
  #advanced_search>li:nth-child(3){ width: 100%; }
  #savebutton,
  #printbutton,
  #candidatebutton,
  #votebutton {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}

@media screen and (max-width: 320px) {
  #highlight, #wrapper, header #logo {
    width: 320px;
  }
}

.loading {
  text-indent: 200%;
  text-indent: -9999px;
  white-space: nowrap;
  overflow: hidden;
  width: 100%;
  height: 100%;
  position: relative;
  background: rgba(255,255,255,0.8) url("../img/ajax-loader.gif") no-repeat center center !important;
  z-index: 100;
}

#footer {
  float: left;
  width: 100%;
  margin-top: 10px;
}

#footer p{
  font-size: 12px;
  color: #808080;
  text-align: center;
}

p#notice {
  text-align: center;
  min-width: 320px;
  max-width: 460px;
  padding: 0px 10px;
  font-size: 11px;
  margin-left: auto;
  margin-right: auto;
  color: #404040;
}

a#googlelogin{
	display:block;
	background:transparent url("../img/White-signin_Long_base_32dp.png") center top no-repeat;
	background-size: contain;
	width:200px;
	height:35px;
  	margin: 50px auto;
}

a#googlelogin:hover{
	background:transparent url("../img/White-signin_Long_hover_32dp.png") center top no-repeat;
	background-size: contain;
	width:200px;
	height:35px;
	}
	
a#googlelogin:active{
	background:transparent url("../img/White-signin_Long_press_32dp.png") center top no-repeat;
	background-size: contain;
	width:200px;
	height:35px;
}

#easyNotification {
	float: left;
	width: 100%;
	line-height: 28px;
	font-size: 13px;
	padding: 0 10px;
	margin: 10px 0;
	background-color: #AADBF3;
	border: 1px solid #3AAEE7;
}

#easyNotification span.close{
	font-size: 11px;
	float: right;
	color: #404040;
	cursor: pointer;
}

.adminpage{
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}
#wrapper.wideradminpage {
  width: 1200px;
  max-width: 100%;
  margin: 10px auto;
}
#wrapper.wideradminpage .tab{
    padding: 20px;
}
