* {
    margin: 0;
    padding: 0;
}

body {
  background-color: #ebebeb;
  font-family: Arial, Verdana, Tahoma, sans-serif;
}

a {
  text-decoration: none;
}

h4 {
  padding-top: 6px;
  padding-bottom: 0px;
  color: #404040;
  font-size: 16px;
}

#logo {
  background-image: url(logo.png);
  width: 400px;
  height: 46px;
  float: left;
  margin-top: 12px;
}

p#username {
  text-align: right;
  font-weight: bold;
  font-size: 12px;
  color: #404040;
}

header {
  margin: 10px 10px;
}

header nav {
  position: absolute;
  float: right;
  margin-top: 17px;
  font-size: 12px;
  width: 940px;
  color: #404040;
}

header nav ul {
  margin-top: 10px;
  float: right;
}

header nav ul li {
  display: inline;
  list-style-type: none;
  padding-left: 20px;
}

header nav a {
  color: #404040;
}

header nav a:hover {
  text-decoration: underline;
  color: #008bcf;
}

#wrapper {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

#content_wrapper {
  position: absolute;
  width: 960px;
  top: 90px;
  background-color: #fff;
  -moz-border-radius: 6px;
  -webkit-border-radius: 6px;
  -khtml-border-radius: 6px;
  border-radius: 6px;
  behavior: url(/border-radius.htc);
  -moz-box-shadow: 0 2px 5px #ccc;
  -webkit-box-shadow: 0 2px 5px #ccc;
  box-shadow: 0 2px 5px #ccc;
  -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#ccc')";
  filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=90, Color='#ccc');
}

canvas#highlight {
  position: relative;
  width: 960px;
  height: 10px;
  margin-top: 15px;
  background-color: #008bcf;
  -moz-border-top-left-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -khtml-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
  -moz-border-top-right-radius: 6px;
  -webkit-border-top-right-radius: 6px;
  -khtml-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
  behavior: url(/border-radius.htc);
  z-index: 1;
}

#content_wrapper aside {
  position: absolute;
  float: left;
  width: 200px;
  padding: 0px 10px 0px 20px;
  margin-right: 20px;
  top: 0px;
  bottom: 0px;
  box-shadow: inset -8px 0 10px -6px #ddd;
  font-size: 12px;
  color: #808080;
}

#content_wrapper aside h4 {
  margin-top: 10px;
}

#content_wrapper aside p:hover {
  color: #404040;
}

#content {
  float: right;
  width: 690px;
  padding: 10px 15px 15px 15px;
  min-height: 500px;
}

#content p {
  font-size: 12px;
  color: #404040;
}

#advanced_search li {
  float: left;
  list-style-type: none;
  padding-right: 10px;
}

#advanced_search li:nth-child(3) {
  padding-right: 0;
}

#advanced_search li select {
  width: 200px;
  height: 40px;
  padding: 5px;
  font-size: 12px;
  -webkit-appearance: none;
  background: #eee;
  border: 1px solid #ccc;
  outline: none;
  overflow:hidden;
}


#checkboxes {
  background: #eee;
  border: 1px solid #ccc;
  overflow:hidden;
  font-size: 12px;
  color: #404040;
  padding: 0px;
}


#checkboxes li {
  clear: left;
  padding: 0px;
}

#checkboxes.custom-checkbox label {
  padding:5px;
  cursor:pointer;
  display: block;
  vertical-align: middle;
}

#checkboxes.custom-checkbox input[type="checkbox"] + span::before {
    display: inline-block;
    vertical-align: middle;
}

#checkboxes.custom-checkbox input[type="checkbox"]:hover {
  cursor: pointer;
}

#checkboxes.custom-checkbox input[type="checkbox"] {
    opacity: 0;
    position: absolute;
}

#checkboxes.custom-checkbox input[type="checkbox"] + span::before {
  content: "";
  width: 12px;
  height: 12px;
  margin: 0 4px 0 0;
  border: solid 1px #a8a8a8;
  line-height: 14px;
  text-align: center;

  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;

  background: #f6f6f6;
  background: -moz-radial-gradient(#f6f6f6, #dfdfdf);
  background: -webkit-radial-gradient(#f6f6f6, #dfdfdf);
  background: -ms-radial-gradient(#f6f6f6, #dfdfdf);
  background: -o-radial-gradient(#f6f6f6, #dfdfdf);
  background: radial-gradient(#f6f6f6, #dfdfdf);
}

#checkboxes.custom-checkbox input[type="checkbox"]:checked + span::before {
  display: inline-block;
  vertical-align: middle;

  color: #666;
  content: "\2714";
  font-size: 12px;
}

#checkboxes.custom-checkbox input[type="checkbox"]:disabled + span {    
  display: inline-block;
  vertical-align: middle;

  -moz-opacity: .4;
  -webkit-opacity: .4;
  opacity: .4;
}




#results_wrapper {
  position: relative;
  height: 260px;
  width: 200px;
  overflow: auto;
  background: #eee;
  border: 1px solid #ccc;
  overflow:auto;
}

#results {
  padding: 5px 5px 0px 10px;
  font-size: 12px;
  color: #000;
}

#results li:nth-child(2n+1){
}

#results a {
  display: block;
  margin-bottom: 5px;
  width: 130px;
  color: #000;
}
#results a:hover {
  text-decoration: underline;
  color: #008bcf;
}